.started
{
    background-color: red;
    cursor: pointer;
}

.completed
{
    opacity: 85%;
    background-color: green !important;
    text-decoration: line-through;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.ignored
{
    background-color: tan;
    cursor: pointer;
}

.started,.completed,.ignored
{
    width: 100%;
    margin-right: 1.5em;
    box-sizing: border-box;
}

#displayChores
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid red;
}

span
{
    color: red;
}

body
{
    background: #ffc;
}