.started
{
    background-color: red;
    cursor: pointer;
}

.completed
{
    margin-top: 2em;
    opacity: 85%;
    background-color: green;
    text-decoration: line-through;
}

.ignored
{
    background-color: tan;
}

.started,.completed,.ignored
{
    width: 30%;
    box-sizing: border-box;
}